<?xml version="1.0"?>
<launch>

    <!-- Iniciar rosbridge_server -->
    <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" />

    <!-- remote_control_joy.launch -->
    <include file="$(find boat)/launch/remote_control_joy.launch" />

    <!-- position_p2p_node.py -->
    <node pkg="boat" type="position_p2p_node.py" name="position_p2p_node" output="screen" />

    <!-- control_p2p_node.py -->
    <node pkg="boat" type="control_p2p_node.py" name="control_p2p_node" output="screen" />

</launch>
